 <section class="our-webcoderskull">
  <div class="container">
  <pre> <h2 class="font-weight-bold m-5 d-lg-flex justify-content-center" style="text-align: center; margin-top: 10%;">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         Lorem Ipsum has been the industry's standard dumm it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
           remaining essset shth desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

           Our Team</h2></pre>

    <ul class="row">
         <li class="col-12 col-md-12 col-lg-6" style="left: 10%;">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="./assets/img/pic2.jpg" class="img-responsive" alt="">
            </figure>
            <h3><a href="https://www.linkedin.com/in/omar-saber-55bbb2130/">Omar Saber <img src="./assets/img/linkedin.png" class="ml-2" style="width: 25px;height: 25px;"></a></h3>
            <p>Freelance Web Developer</p>

          </div>
      </li>
      <li class="col-12 col-md-12 col-lg-6">
          <div class="cnt-block equal-hight" style="height: 349px; ">
            <figure><img src="./assets/img/pic2.jpg" class="img-responsive" alt=""></figure>
            <h3><a href="https://www.linkedin.com/in/donia-mahran/">Donia Mahran <img src="./assets/img/linkedin.png" class="ml-2" style="width: 25px;height: 25px;"></a></h3>
            <p>Freelance Web Developer</p>

          </div>
      </li>

      <li class="col-12 col-md-12 col-lg-6"  style="left: 10%;" >
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="./assets/img/pic2.jpg" class="img-responsive" alt=""></figure>
            <h3><a href="https://www.linkedin.com/in/ali-sanad/">Ali Owimer <img src="./assets/img/linkedin.png" class="ml-2" style="width: 25px;height: 25px;"> </a></h3>
            <p>Freelance Web Developer</p>

          </div>
       </li>
      <li class="col-12 col-md-12 col-lg-6">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="./assets/img/pic2.jpg" class="img-responsive" alt=""></figure>
            <h3><a href="https://www.linkedin.com/in/marina-gad-673976193/">Marina Gad <img src="./assets/img/linkedin.png" class="ml-2" style="width: 25px;height: 25px;"></a></h3>
            <p>Freelance Web Developer</p>

          </div>
      </li>

      <li class="col-12 col-md-12 col-lg-6" style="left: 30%; right: 25%; width: 100%;">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src="./assets/img/pic2.jpg" class="img-responsive" alt=""></figure>
          <h3><a href="#">Ahmed Abdelhakeem <img src="./assets/img/linkedin.png" class="ml-2" style="width: 25px;height: 25px;"></a></h3>
          <p>Freelance Web Developer</p>

        </div>
    </li>
    </ul>
  </div>
</section>
