
<div class="container p-3" id="prodDiv">
  <div class="row d-flex align-items-center">
    <div class="col-md-8">
                                  <!-- image  -->
      <img class="img-fluid" src="./assets/img/slideimg1.jpg" alt="">
    </div>


    <div class="col-md-4" style="text-align: left;">
      <h2 class="my-3 font-weight-bold" >{{products.name}}</h2>
      <h3 class="card-text">{{products.description}}</h3>
      <h3 class="card-text"><span class="my-3 font-weight-bold">Made in </span> {{products.country}}</h3>
      <h3 class="card-text"><span class="my-3 font-weight-bold">Quantity :</span> {{products.quantity}}</h3>

      <h3 class="my-3 font-weight-bold" >PRICE : {{products.price}}</h3>
      <a href="#" class="btn bgmine m-3">Add to cart</a>

  </div>

</div>



