
<div class="container p-5" id="prodDiv">

  <div class="row justify-content-cente ">

                <!-- //Admin -->
    <div style="float: none; margin: 0 auto;">


      <form name="addProdForm" #addProdForm="ngForm" (ngSubmit)="onSubmit(addProdForm)">
      <p class="mt-3" id="label">Item name:</p>
      <input type="text" name="name"  #name="ngModel" [(ngModel)]="_ProductService.selectedProduct.name">
      <p class="mt-3" id="label">Item Category:</p>
      <input type="text" name="category"  #category="ngModel" [(ngModel)]="_ProductService.selectedProduct.category">

      <p class="mt-3" id="label"> Item Description: </p>
      <input type="text" name="description"  #description="ngModel" [(ngModel)]="_ProductService.selectedProduct.description">
      <p class="mt-3" id="label"> Item Price:</p>
      <input type="text" name="price" #price="ngModel" [(ngModel)]="_ProductService.selectedProduct.price">
      <p class="mt-3" id="label"> Item Quantity:</p>
      <input type="text" name="quantity"  #quantity="ngModel" [(ngModel)]="_ProductService.selectedProduct.quantity">
      <p class="mt-3" id="label"> Item Country:</p>
      <input type="text" name="country" #country="ngModel" [(ngModel)]="_ProductService.selectedProduct.country">
      <p class="mt-3" id="label">Upload Item Image:</p>

      <div style="width: 300px; height: 300px;" class="mt-5">
        <img src="/assets/img/upload.png" style="cursor: pointer;" (click)='done(t)' #t2 />
    </div>
    <div >
        <input type="file" name="image" (change)='change($event,t2)' #t #image="ngModel" [(ngModel)]="_ProductService.selectedProduct.image" id="inputImage"/>
    </div>

      <br>
       <!-- <a href="#" class="btn bgmine mt-3 mr-2">Add</a> -->
       <button type="submit" class="btn bgmine mt-4 mr-4 mb-3">Add</button>
       <button type="submit" class="btn bgmine mt-4 mb-3" routerLink="/home">Cancel</button>
       <!-- Success message -->
       <div class="success " *ngIf="showSucessMessage">
        Saved successfully
    </div>

    <!-- Error message -->
    <div class="alert" *ngIf="serverErrorMessages">
        {{serverErrorMessages}}
    </div>

      </form>
  </div>
</div>
</div>



