<div class="col-md-2">
  <img style="width: 100%;" src="http://localhost:3000/uploads/{{profile.image}}">

</div>
<div class="col-md-10">
  <ul class="list-group">
    <li class="list-group-item"><strong>Email:</strong>{{profile.email}}</li>
    <li class="list-group-item"><strong>UserName:</strong>{{profile.userName}}</li>
    <li class="list-group-item"><strong>FirstName:</strong>{{profile.firstName}}</li>
    <li class="list-group-item"><strong>LastName:</strong>{{profile.lastName}}</li>
    <li class="list-group-item"><strong>Password:</strong>{{profile.password}}</li>
    <li class="list-group-item"><strong>Age:</strong>{{profile.age}}</li>
    <li class="list-group-item"><strong>PhoneNumber:</strong>{{profile.phoneNumber}}</li>
    <li class="list-group-item"><strong>Address:</strong>{{profile.address}}</li>
  </ul>
  <button >save</button>
  <button >cancel</button>
</div>


<!-- <input  type="text" #password="ngModel" [(ngModel)]={{profile.password}} name="password" value="" > -->