<h1 class="d-flex justify-content-center m-5 font-weight-bold">-</h1>

<form class="form-inline mr-auto justify-content-center w-100">
  <input class="form-control mr-sm-1" type="text" placeholder="What do you want? . . ." aria-label="Search">
  <button class="btn rounded btn-sm my-0" type="submit" style="font-size: larger; color:#793425 ; background-color: #dab4bd;">Search</button>
</form>
<hr style="color: #dab4bd;">
<!-- <div class="container d-inline-block justify-content-center wm" style="flex-wrap: nowrap !important; height: 500px !important; " *ngFor="let product of products">
  <div class="card mb-3 w-100" style="  border: 6px double #F5B461;
  border-radius: 0px 30px 0px 30px;">
    <div class="row-3 g-0">
  <div class="col">
     [src]="product.image" -->
        <!-- <img src="https://chocolate-store-api.herokuapp.com/uploads/productImages/{{product.image}}" class="image mt-3" style='height: 100%; width: 100%; object-fit: contain' alt="...">
        <div class="card-body" style="text-align: center;">

          <h4 class="card-title font-weight-bold">{{product.name}}</h4>
          <h3 class="card-text font-weight-bold">Price: {{product.price}}</h3>
          <h3 class="card-text font-weight-bold">quantity: {{product.quantity}}</h3>  -->

           <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->

            <!-- <a href="#" class="btn bgmine mr-2 mb-2 mt-2" [routerLink]="['/product-detail',product._id]">Quick Look</a>
            <button (click) = "addtocart(product._id)"   class="btn bgmine" >+</button>
            <button (click) = "subtract(product._id)"   class="btn bgmine" >-</button>
            <button (click) = "checkout()"   class="btn bgmine" >checkouut</button>

 -->



           <!-- <a [routerLink]="['/edit',product._id]"> <img src="../assets/img/edit.png" *ngIf="user=='admin'" alt="edit" id="logo"></a>
           <a [routerLink]="['/delete',product._id]"> <img src="../assets/img/delete.png" *ngIf="user=='admin'" alt="delete" id="logo"></a> -->
<!--
        </div>
      </div>

    </div>
  </div>
</div> -->




<div class="row justify-content-center">
  <div class="col-md-4" *ngFor="let product of products">
    <!--Card-->
    <mdb-card cascade="true" narrower="true" class="pt-0 m-5" style="width: 300px; height: 550px;">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" style="max-width: 300px; max-height: 300px; overflow: hidden;" mdbWavesEffect>
        <img style="width: 300px; height: 300px; object-fit:scale-down; cursor: pointer; " (click)="openDialog()" src="https://chocolate-store-api.herokuapp.com/uploads/productImages/{{product.image}}">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <hr style="color: #dab4bd;" class="m-0 p-0">

      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center pb-2 px-0">
        <!--Card content-->
        <h2 class="font-weight-bold" style="color: #793425;">{{product.name}}</h2>
        <!--Title-->
        <h2 class="card-title">{{product.price}} £E</h2>
        <a mdbBtn style="background-color:#dab4bd; color:#793425"  class="font-weight-bold" mdbWavesEffect>Add to Cart</a>
        <a mdbBtn class="btn mr-2 mb-2 mt-2 b2" [routerLink]="['/product-detail',product._id]" style="color:#793425; background-color:#f9eff1;">Quick Look</a>
      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>
</div>
