
<!-- slider -->

<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100 h-100 d-flex justify-content-center">
      <img class="d-block w-100 h-97" src="../assets/img/slideimg1.jpg" alt="First slide" id="sliderImg">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption pb-5">
      <h3 class="h3-responsive">There is nothing better than a friend, unless it is a friend with chocolate</h3>

    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100 h-100 d-flex justify-content-center">
      <img class="d-block w-100 h-97" src="../assets/img/slideimg2.jpg" alt="Second slide" id="sliderImg" >
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption pb-5">
      <h3 class="h3-responsive">All you need is LOVE, or more chocolates.</h3>
      <button class="btn shadow-sm rounded " type="button" data-live-search-takeover-cancel="" style="width: 150px !important; height: 60px !important;" routerLink="/collection">Show Collection</button>

    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100 h-100 d-flex justify-content-center">
      <img class="d-block w-100 h-97" src="../assets/img/slideimg3.jpg" alt="Third slide" id="sliderImg">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption pb-5">
      <h3 class="h3-responsive">Chocolate says "I'm sorry" so much better than words.</h3>
      <button class="btn shadow-sm rounded " type="button" data-live-search-takeover-cancel="" routerLink="/login">Sign in</button>

    </div>
  </mdb-carousel-item>
</mdb-carousel>


<!-- div before  -->

<div class="container-fluid p-5 d-flex justify-content-center bgmine">
  <div>
<img src="../assets/img/cookie.png" style="width: 50pcx; height: 50px; margin-right: 20px;">
  </div>
<div>
  <h2 class="h5-responsive">Chocolate says "I'm sorry" so much better than words.</h2>
</div>

</div>
